/*Poppins font options*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: url(img/Background3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #ffffff;
    padding: 5px;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, hsl(321, 100%, 80%), #808080);
    border-radius: 30px;
    transition: .5s;
}

.social-icons {
    /*30px from top and bottom & left, right auto.*/
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    /*Margin 0 from top and bottom & 12px from left and right.*/
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #b30059;
    cursor: pointer;
    /*Border-radius so that you can see these icons and round shape.*/
    border-radius: 50%;
}

input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 93%;
    padding: 5px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #b30059;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, hsl(321, 100%, 80%), #808080);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 20px 60px 0;
    cursor: pointer;
}

span {
    color: #000000;
    font-size: 12px;
    bottom: 212px;
    position: absolute;
}

h1 {
    text-align: center;
}